# Introduction to Data Science
## Homework 2

Student Name: Manuel Serrano Rebuelta

Student Netid: msr542
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

#### Problem understanding:
Target's objective is to identify when its female shoppers are pregnant so they can more easily change their shopping habits and make them buy everything at Target, and not only cleanning supplies or furniture. This happens because in certain major events in life, people are more likely to modify their well ingrained habits. When these moments happen, a good tactic from Target can be to "attack" them with precise ads, promotions or coupons.

#### Data Science overall approach:
Given the previous information as valid and known, from a Data Science point of view, we could set this problem as follows: we want to identify from collected data when a particular costumer is likely to be pregnant. More formally:
- Hypothesis: pregnant costumers can be detected by studying their shopping behavior over time.
- Data Collection: all sort of information Target can possible collect, will be collected in order to find patterns in it to predict future cases.
- Confirm/Falsify hypothesis upon results.

With respect to the data mining process, we can formally say:
- First we need to understand the business of our underlying problem, and thus, point at the data we will potentially need or consider that might be useful. We can go back and forth from business to data understanding until we converge into the right approach. More specifically, for Target's case, we need to understand what shopping factors might be involved when a woman is pregnant, and how Target can detect them using different techniques: this can be storing costumer data in a database.
- After this, we can start preparing the data. This is, converting raw collected data into ordered understandable data that we can analyze, and creating our predictive model. For Target's case, we simply clean, and standarize all costumers data, and prepare our predicting model following Data Science well known algorithms and statistics.
- Next we start evaluating our model. For this, we can test on real costumers, but not in all of them. This would reduce the risk if something goes wrong. Over time, we would test how women that are likely pregnant, turns out that are actually pregnant. Also, and going even further, we can analyze if we eventually could change their overall shopping habits or not. It is important to note that if we realize our model is not working correctly, we need to re-think and reconsider our business and data understanding (first step).
- Last, and only if our model behaved well in the evaluation step, we will deploy the whole model to production. This is, in Target, all female costumers will be analyzed and predicted if they are pregnant or not, so that Target can act consequently offering promotions of coupons to definitively change their shopping habits.

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell in your terminal and then just paste your answers here. Recall that once you enter the "!" then filename completion should work. Also, these are standard data exploration commands that are quick and easy to use in a terminal or in the notebook. We don't cover command line operations formally in this class, but these are worth learning (and thus are part of the HW). Be resourceful. Use whatever online cheat sheets or Stackoverflow to answer the question.]

1\. How many records (lines) are in this file (look up wc)?

In [6]:
!wc -l < advertising_events.csv

   10341

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [21]:
!cut -d, -f1 advertising_events.csv | uniq | wc -l

   10331

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [73]:
!cut -d, -f3 advertising_events.csv | sort | uniq -c | sort -r

3114 google.com
2092 facebook.com
1036 youtube.com
1034 yahoo.com
1022 baidu.com
 513 wikipedia.org
 511 amazon.com
 382 qq.com
 321 twitter.com
 316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [49]:
#In this case, grep code looks this simple because we are finding 37 in the first column. Also, this code would not work if there where other fields with value 37
!grep "37" -w advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [45]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np
import timeit

1\. Load the data set `"ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [91]:
ads = pd.DataFrame.from_csv("ads_dataset.tsv", sep='\t')
ads

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaT,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaT,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaT,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaT,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaT,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaT,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaT,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaT,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaT,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaT,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaT,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaT,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaT,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaT,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaT,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaT,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [67]:
def getDfSummary(input_data):
    # Place your code here
    output_data = pd.DataFrame(data=input_data.describe().transpose(), columns=['number_nan', 'number_distinct', 'mean', 'max', 'min', 'std', '25%', '50%', '75%'])
    output_data['number_nan'] = input_data.isnull().sum().transpose()
    output_data['number_distinct'] = input_data.nunique()
    
    return output_data

my_Function_Output = getDfSummary(ads)
my_Function_Output

,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
isbuyer,0,2,0.042632,1.00000,0.0000,0.202027,0.0,0.0,0.000000
buy_freq,52257,10,1.240653,15.00000,1.0000,0.782228,1.0,1.0,1.000000
visit_freq,0,64,1.852777,84.00000,0.0000,2.921820,1.0,1.0,2.000000
buy_interval,0,295,0.210008,174.62500,0.0000,3.922016,0.0,0.0,0.000000
sv_interval,0,5886,5.825610,184.91670,0.0000,17.595442,0.0,0.0,0.104167
expected_time_buy,0,348,-0.198040,84.28571,-181.9238,4.997792,0.0,0.0,0.000000
expected_time_visit,0,15135,-10.210786,91.40192,-187.6156,31.879722,0.0,0.0,0.000000
last_buy,0,189,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
last_visit,0,189,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
multiple_buy,0,2,0.006357,1.00000,0.0000,0.079479,0.0,0.0,0.000000
multiple_visit,0,2,0.277444,1.00000,0.0000,0.447742,0.0,0.0,1.000000
uniq_urls,0,207,86.569343,206.00000,-1.0000,61.969765,30.0,75.0,155.000000
num_checkins,0,4628,720.657592,37091.00000,1.0000,1275.727306,127.0,319.0,802.000000
y_buy,0,2,0.004635,1.00000,0.0000,0.067924,0.0,0.0,0.000000

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [64]:
%timeit getDfSummary(ads)

10 loops, best of 3: 68.5 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [100]:
aux = my_Function_Output['number_nan'] > 0
my_Function_Output[aux].index.tolist()

['buy_freq']

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [120]:
contain_Missing_Values = ads['buy_freq'].isnull()
new_ads = ads[contain_Missing_Values]

new_My_Function_Output = getDfSummary(new_ads)
new_My_Function_Output

,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
isbuyer,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
buy_freq,52257,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
visit_freq,0,48,1.651549,84.00000,1.0000,2.147955,1.0,1.0,2.000000
buy_interval,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
sv_interval,0,5112,5.686388,184.91670,0.0000,17.623555,0.0,0.0,0.041667
expected_time_buy,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
expected_time_visit,0,13351,-9.669298,91.40192,-187.6156,31.239030,0.0,0.0,0.000000
last_buy,0,189,65.741317,188.00000,0.0000,53.484622,19.0,52.0,106.000000
last_visit,0,189,65.741317,188.00000,0.0000,53.484622,19.0,52.0,106.000000
multiple_buy,0,1,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
multiple_visit,0,2,0.255602,1.00000,0.0000,0.436203,0.0,0.0,1.000000
uniq_urls,0,207,86.656180,206.00000,-1.0000,61.996711,30.0,75.0,155.000000
num_checkins,0,4570,721.848518,37091.00000,1.0000,1284.504018,126.0,318.0,803.000000
y_buy,0,2,0.003024,1.00000,0.0000,0.054904,0.0,0.0,0.000000

In [122]:
not_contain_Missing_Values = ads['buy_freq'].notnull()
new_ads = ads[not_contain_Missing_Values]

new_My_Function_Output = getDfSummary(new_ads)
new_My_Function_Output

,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
isbuyer,0,1,1.000000,1.00000,1.0000,0.000000,1.000000,1.000000,1.00000
buy_freq,0,10,1.240653,15.00000,1.0000,0.782228,1.000000,1.000000,1.00000
visit_freq,0,60,6.371723,75.00000,0.0000,8.680026,2.000000,3.000000,7.00000
buy_interval,0,295,4.926110,174.62500,0.0000,18.377272,0.000000,0.000000,0.00000
sv_interval,0,1367,8.952092,176.70830,0.0000,16.651559,0.041667,3.354167,10.83333
expected_time_buy,0,348,-4.645390,84.28571,-181.9238,23.779721,0.000000,0.000000,0.00000
expected_time_visit,0,1788,-22.370870,88.30038,-183.3626,42.080323,-34.575625,-1.504768,0.00000
last_buy,0,186,42.003438,186.00000,0.0000,47.980703,3.000000,21.000000,70.00000
last_visit,0,186,42.003438,186.00000,0.0000,47.980703,3.000000,21.000000,70.00000
multiple_buy,0,2,0.149119,1.00000,0.0000,0.356282,0.000000,0.000000,0.00000
multiple_visit,0,2,0.767942,1.00000,0.0000,0.422237,1.000000,1.000000,1.00000
uniq_urls,0,196,84.619252,195.00000,-1.0000,61.342345,30.000000,69.000000,153.00000
num_checkins,0,1127,693.913193,10778.00000,2.0000,1059.533550,137.000000,337.000000,784.00000
y_buy,0,2,0.040825,1.00000,0.0000,0.197927,0.000000,0.000000,0.00000

In [125]:
# Take a look at this two tableu's, we see that there is a strong dependency in our data with respect to the missing value.
# This is: "buy_freq" field will be missing whenever the costumer is not a buyer (field "is_buyer" equal to 0).
# Similarly, "buy_freq" field will NOT be missing whenever the costumer IS a buyer (field "is_buyer" equal to 1).
# For this reason we say our data is MISSING AT RANDOM.

6\. Which variables are binary?

In [90]:
isBinary = my_Function_Output['number_distinct'] == 2
my_Function_Output[isBinary].index.tolist()

['isbuyer', 'multiple_buy', 'multiple_visit', 'y_buy']